[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: #ecf0f1;
    /*#c9e1c1*/
    margin-top: 52px;
}

.pure-g [class *="pure-u"] {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    /*color: ;*/
    cursor: pointer;
    -webkit-transition: all 0.25s ease-out;
       -moz-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
         -o-transition: all 0.25s ease-out;
            transition: all 0.25s ease-out;
}

a:hover {
    text-decoration: none;
    /*color: ;*/
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#view {
    width: 100%;
    height: 100%;
}

.animated {
    -webkit-transition-duration: 0.7s;
       -moz-transition-duration: 0.7s;
        -ms-transition-duration: 0.7s;
         -o-transition-duration: 0.7s;
            transition-duration: 0.7s;
}

.container {
    width: 100%;
    margin: 0 auto;
}


/*****************/
/* navbar header */
/*****************/


.navbar {
    width: 100%;
    height: 53px; 
}

.navbar-fixed {
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    background-color: rgba(29,47,62, 0.9);
    line-height: 52px;

}

.navbar div, .navbar ul, .navbar li {
    display: inline-block;
}

.navbar a {
    color: #ffffff;
}

.navbar .logo {
    position: absolute;
    padding-left: 32px;
    float: left;
    width: 220px;
    height: 100%;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.2em;
}

.navbar .menu-tab {
    display: none;
}

.navbar ul {
    float: right;
    padding: 0;
    margin: 0 25px 0 0;
}

.navbar li {
    margin-left: 15px;
    font-size: 0.86em;
}

.navbar li a:hover {
    color: #cccccc;
}


/*****************/
/* homepage view */
/*****************/


.l-sidebar {
    position: fixed;
    background-color: #1d2f3e;
    margin-top: -52px;
    width: 220px;
    height: 100%;
}

.l-sidebar .animated .fadeInLeft {
    -webkit-transition: all .15s ease;
       -moz-transition: all .15s ease;
        -ms-transition: all .15s ease;
         -o-transition: all .15s ease;
            transition: all .15s ease;
}

.l-content {
    padding-top: 52px;
    color: #dfdfdf;
}

.menu > div, .menu li {
    display: block;
    padding-left: 32px;
    padding-right: 24px;
    cursor: pointer;
}

.menu li {
    height: 32px;
    line-height: 32px;
    font-size: 0.76em;
}

/*.menu li i {
    display: none;
    margin-left: -14px;
    margin-right: 10px;
    font-size: 0.5em;
    color: #0fb493;
    vertical-align: 3px;
}*/

.menu ul {
    background-color: #1d2f3e;
}

.menu .heading {
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 0.86em;
    color: #fffefe;
    background-color: #152737;
    border-left: solid 2px #0fb493;
}

.menu .heading:hover, .menu li:hover {
    color: #aaafb3;
}

.menu input {
    margin-left: 5px;
    width: 86%;
    border: none;
    background-color: #1d2f3e;
    outline: none;
    color: #fffefe;
}

.menu input:focus {
    color: #fdfdfd;
}

.r-container {
    padding-top: 24px;
    padding-left: 252px;
    padding-right: 32px;
    color: #4a4a4a;
}

.r-header span {
    color: #152737;
    font-size: 1.2em;
    font-weight: 700;
} 

.r-header .pure-button {
    margin-top: 5px;
    float: right;
    font-size: 0.9em;
}

.pure-button {
    background-color: #1d2f3e;
    color: #fffefe;
    border-radius: 1px;
    font-size: 1em;
}

.pure-button:hover {
    background-color: #152737;
}

.r-content {
    position: relative;
    top: 24px;
    font-size: 0.86em;
}

.pure-table {
    background-color: #ecf0f1;
    width: 100%;
    color: #152737;
    border: none;
}

.pure-table thead { 
    background-color: #0fb493; 
    color: #ecf0f1;
}

.pure-table .title th { 
    border-left: none; 
    font-size: 1.2em;
}

thead tr {
    height: 48px;
}

table span { 
    color: #7a7a7a; 
    font-size: 0.86em;
}

tbody tr {
    border: solid 1px #cecece;
}

table a { 
    color: #152737;
    font-size: 1.2em;
    text-transform: uppercase;
}

table a:hover { color: #0fb493; }

th.namecol { 
    vertical-align: middle;  
}

.stacol, .leadcol, .actcol {
    width: 10%;
    text-align: center;
    vertical-align: middle;
}

table i.fa {  
    font-size: 1.1em;
    margin-left: 5px;
}


/**************/
/* navigation */
/**************/


#navigation {
    position: fixed;
    margin-top: 24px;
    left: 252px;
}

.nav-tab li {
    /*margin-right: -4px;*/
    width: 8.6em;
    height: 53px;
    text-align: center;
    line-height: 50px;
    font-size: 1em;
    text-transform: uppercase;
    display: inline-block;
}

.nav-tab li a { 
    display: block;
    color: #0FB493;
    font-weight: 600;
}

.nav-tab li a:hover,
.nav-tab li a:focus {
    background-color: rgba(15,180,147, 0.1);
    color: #0c9075;
    border-bottom: solid 5px rgba(15,180,147, 0.01);       
}

.nav-tab li.active a,
.nav-tab li.active a:hover, 
.nav-tab li.active a:focus { 
    background-color: rgba(15,180,147, 0.3);
    color: #0c9075;
    border-bottom: solid 5px #6fd2be;
 
}


/*************/
/* main page */
/*************/

.heading.name {
    color: #2ecc71;
}

.menu .text {
    margin-left: 5px;
}

.mainpage li:hover { color: #dfdfdf; }

.mainpage li,
div.description { cursor: initial; }

.mainpage .description div {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
    color: #dfdfdf;
    font-size: 0.76em;
}

.description .icon {
    vertical-align: top;
}

.description .text {
    width: 86%;
    line-height: 20px;
    word-wrap: break-word;
}

.member .text {
    margin-left: 0px;
}

.member .icon {
    float: right;
}

.member .icon i {
    display: inline-block;
    margin-right: 5px;
    color: #cecece;
    cursor: pointer;
}

.member .icon i:hover {
    color: #0fb493;
}

.mainpage {
    top: 120px;
}

table.activities tbody tr {
    border: none;
}

table.activities td {
    border-left: solid 5px #0f9fb4;
}

td.eventcol {
    background-color: rgba(15,159,180, 0.2);
}

/*************/
/* task page */
/*************/


.taskpage .r-content{
   margin-top: 80px;
}

.taskpage .pure-table tbody td {
    vertical-align: baseline;
}

.taskpage .pure-table thead {
    background-color: #0fb493;
    color: #fffefe;
}

/* footer */
footer {
    display: none;
    position: relative;
    width: 100%;
    /*height: 100px;*/
    background-color: #F7F7F7;
    z-index: 1;
}



