<div class="animated fadeIn container projectlist">
    <div class="page-header">
        <h1 class="animated zoomIn">ROAD 2013</h1>
        <h5 class="animated fadeInLeft">A collection of our work in 2013</h5>
    </div>

    <div class="page-content">
        <div class="category row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="crop-thumbnail">
                    <img src="img/picture4.jpg" alt="...">
                    </div>
                    <div class="overlay"></div>
                    <div class="project-button"><a href="project">Read more</a></div>
                    <div class="caption">
                        <h3>Kavela</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="crop-thumbnail">
                    <img src="img/project-img.jpg" alt="...">
                    </div>
                    <div class="overlay"></div>
                    <div class="project-button"><a href="project">Read more</a></div>
                    <div class="caption">
                        <h3>Young Thinkers and Doers</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="crop-thumbnail">
                    <img src="img/picture5.jpg" alt="...">
                    </div>
                    <div class="overlay"></div>
                    <div class="project-button"><a href="project">Read more</a></div>
                    <div class="caption">
                        <h3>Noursu Youth</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="crop-thumbnail">
                    <img src="img/picture6.jpg" alt="...">
                    </div>
                    <div class="overlay"></div>
                    <div class="project-button"><a href="project">Read more</a></div>
                    <div class="caption">
                        <h3>Library</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>