<div class="l-sidebar">
	<div class="l-content">
		<div class="menu">
			<div class="heading name"><div>Project 1</div></div>
			<ul>
				<li>Sort By Date</li>
				<li>Sort By Name</li>
				<li>
					<span><i class="fa fa-search"></i></span>
					<input type="text" placeholder="Search ..."></input>
				</li>
			</ul>
		</div>
		<div class="menu">
			<div class="heading"><div>Tag name</div></div>
			<ul>
				<li>#tagname1</li>
				<li>#tagname1</li>
			</ul>
		</div>
	</div>
</div>

<div class="r-container">
<div class="r-content mainpage">
	<div class="create edit">
		<h4 id="message">Create note - using #tagname for highlight element</h4>
		<form class="pure-form pure-g" ng-submit="save()">
			<div class="pure-u-1 pure-g">
				<input class="name pure-u-1" type="text" placeholder="Title" ng-model="note.title">
			</div>
			<div class="pure-g pure-u-1">
				<textarea class="description pure-u-1 note" placeholder="Your document" ng-model="note.text"></textarea>
			</div>
			<button type="submit" class="pure-button pure-button-primary task">Save change</button>
		</form>
	</div>
</div>
</div>

