<div class="l-sidebar">
	<div class="l-content mainpage">
		<div class="menu">
			<div class="heading">Virtual Doctor</div>
			<ul>
				<li>
					<span class="icon"><i class="fa fa-barcode"></i></span>
					<span class="text"></span>
				</li>
				<li>
					<span class="icon"><i class="fa fa-tags"></i></span>
					<span class="text"></span>
				</li>
				<li>
					<span class="icon"><i class="fa fa-user"></i></span>
					<span class="text"></span>
				</li>
				<li>
					<span class="icon"><i class="fa fa-clock-o"></i></span>
					<span class="text">Create at</span>
				</li>
			</ul>
			<div class="description">
				<div class="icon"><i class="fa fa-pencil-square-o"></i></div>
				<div class="text"></div>
			</div>
		</div>
		<div class="menu">
			<div class="heading">Members list</div>
			<ul class="member">
				<li>
					<span><i class="fa fa-plus"></i></span>
					<input type="text" placeholder="Add new member"></input>
				</li>
				<li>
					<span class="text">Member </span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
				<li>
					<span class="text">Member 1</span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
				<li>
					<span class="text">Member 1</span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="r-container">
	<div class="r-content mainpage">
		<table class="pure-table activities">
		    <tbody>
	        <tr class="duadate">
	        	<td class="stacol">01.01.2015</td>
	            <td class="eventcol">Duedate</td>        
	        </tr>
	        <tr>
	        	<td class="stacol">01.01.2015</td>
	            <td class="eventcol">
	            <a href="#">abcxyz</a>
	            </td>        
	        </tr>
	        <tr class="startdate">
	        	<td class="stacol">01.01.2015</td>
	            <td class="eventcol">Startdate</td>        
	        </tr>		        
		    </tbody>
		</table>
	</div>
</div>	

