<footer>
    <section class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 social">
                    <div class="text">
                        <h3>52k</h3>
                        <p>Likes</p>
                    </div>
                    <div class="icon"><span class="fa fa-facebook-square" style="color: #3b5998;"></span></div>
                </div>
                <div class="col-md-2 col-sm-4 social">
                    <div class="text">
                        <h3>4.2m</h3>
                        <p>Views</p>
                    </div>
                    <div class="icon"><span class="fa fa-youtube-square" style="color: #cc181e;"></span></div>
                </div>
                <div class="col-md-2 col-sm-4 social">
                    <div class="text">
                        <h3>52k</h3>
                        <p>Downloads</p>
                    </div>
                    <div class="icon"><span class="fa fa-square"></span></div>
                </div>
                <div class="col-md-2 col-sm-4 link">
                    <p><a href="">Về chúng tôi</a></p>
                    <p><a href="">Trung tâm Media</a></p>
                    <p><a href="">Đối tác</a></p>
                </div>
                <div class="col-md-2 col-sm-4 link">
                    <p><a href="">Hiệu quả</a></p>
                    <p><a href="">Công cụ tính toán</a></p>
                    <p><a href="">Tuyển dụng</a></p>
                </div>
                <div class="col-md-2 col-sm-4 blog">
                    <button class="btn btn-primary">Xem Blog</button>
                </div>

            </div>
        </div>
    </section>

    <section class="footer2">
        <div class="container">
            <ul class="left-block"><li>Relyfin@2016. All thing reserved.</li></ul>
            <ul class="right-block">
                <li><a href="">Liên hệ</a></li>
                <li><a href="">Các điều khoản</a></li>
                <li><a href="">Riêng tư</a></li>
                <li><a href="">Quyền truy cập</a></li>
                <li><a href="">Cookies</a></li>
                <li><a href="">Sơ đồ</a></li>
            </ul>
        </div>
    </section>

</footer>