<div class="animated fadeIn homepage">    

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-title">Reliable Finance</div>
                <h3 class="banner-advise">Lời khuyên tài chính cá nhân đáng tin cậy nhất</h3>

                <p><span class="fa fa-check"></span><span class="check-text">Tư vấn và đưa ra lời khuyên cho các quyết định tài chính cá nhân</span></p>
                <p><span class="fa fa-check"></span><span class="check-text">Công cụ máy tính giúp bạn đưa ra quyết định tài chính tốt hơn</span></p>
                <p><span class="fa fa-check"></span><span class="check-text">Tổng đài tư vấn tài chính cá nhân qua điện thoại trực tuyến</span></p>
                <p><span class="fa fa-check"></span><span class="check-text">Trung tâm tư vấn tài chính an toàn</span></p>
            </div>
            <div class="col-md-6"><div class="banner-img"><img src="img/piggy.jpg" /></div></div>
        </div>
    </div>
</section>

<section class="section-2"></section>
<section class="section-3"></section>

</div>