<div class="animated fadeIn homepage">    

<section class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="banner-title">Reliable Finance</div>
                <h3 class="banner-advise">Lời khuyên tài chính cá nhân đáng tin cậy nhất</h3>

                <p><span class="fa fa-check"></span><span class="check-text">Tư vấn và đưa ra lời khuyên cho các quyết định tài chính cá nhân</span></p>
                <p><span class="fa fa-check"></span><span class="check-text">Công cụ máy tính giúp bạn đưa ra quyết định tài chính tốt hơn</span></p>
                <p><span class="fa fa-check"></span><span class="check-text">Tổng đài tư vấn tài chính cá nhân qua điện thoại trực tuyến</span></p>
                <p><span class="fa fa-check"></span><span class="check-text">Trung tâm tư vấn tài chính an toàn</span></p>
            </div>
            <div class="col-md-6"><div class="banner-img"><img src="img/piggy.jpg" /></div></div>
        </div>
    </div>
</section>

<section class="categories">
    <div class="container">
        <h2>Chọn một mục để bắt đầu</h2>

        <div class="category-list">
            <div class="row">
                <div class="column col-md-3 col-xs-4" style="background-color: rgba(0,120,110,0.95);">
                    <a href=""><small>Dịch vụ</small><br/>Tiền gửi - Tiết kiệm</a>
                </div>
                <div class="column col-md-3 col-xs-4" style="background-color: rgba(231,42,23,0.95);">
                    <a href=""><small>Dịch vụ</small><br/>Các khoản vay</a>
                </div>
                <div class="column col-md-3 col-xs-4" style="background-color: rgba(55,174,204,0.95);">
                    <a href=""><small>Dịch vụ</small><br/>Thẻ</a>
                </div>
                <div class="column col-md-3 col-xs-4" style="background-color: rgba(253,71,28,0.95);">
                    <a href=""><small>Dịch vụ</small><br/>Phí ngân hàng</a>
                </div>
                <div class="column col-md-3 col-xs-4" style="background-color: rgba(87,194,93,0.95);">
                    <a href=""><small>Dịch vụ</small><br/>E-banking</a>
                </div>
                <div class="column col-md-3 col-xs-4" style="background-color: rgba(84,182,59,0.95);">
                    <a href=""><small>Bảo hiểm</small> </br>Nhân thọ</a>
                </div>
                <div class="column col-md-3 col-xs-4" style="background-color: rgba(255,108,0,0.95);">
                    <a href=""><small>Bảo hiểm</small> </br>Phi nhân thọ</a>
                </div>
                <div class="column col-md-3 col-xs-4" style="background-color: rgba(0,129,199,0.95);">
                    <a href=""><small>Dịch vụ</small> <br/>Bất động sản</a>
                </div>
                <div class="column col-md-3 col-xs-4" style="background-color: rgba(163,0,126,0.95);">
                    <a href=""><small>Chứng chỉ</small> <br>Quỹ đóng</a>
                </div>
                <div class="column col-md-3 col-xs-4" style="background-color: rgba(31,178,167,0.95);">
                    <a href=""><small>Chứng chỉ</small> <br>Quỹ mở</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">

    <div class="advice">
        <div class="advice-text">
            <h2>Bạn đang gặp vấn đề tài chính ?</h2>
            <p>Tìm đến chúng tôi để nhận được sự tư vẫn miễn phí từ các chuyên gia tài chính uy tín tại <strong>Relyfin</strong></p>
        </div>
        <div class="advice-arrow"><a href=""><span class="fa fa-chevron-circle-right"></span></a></div>
    </div>
    <hr/>

    <div class="support">
        <div class="row">
            <div class="column col-md-3">
                <div class="big-icon"><span class="fa fa-comment"></span></div>
                <h3>Web chat</h3>
                <p>Phục vụ 24/24h</p>
                <button class="btn btn-success">Online</button>
            </div>
            <div class="column col-md-3">
                <div class="big-icon"><span class="fa fa-mobile"></span></div>
                <h3>Gọi cho chúng tôi</h3>
                <p>Liên lạc với chúng tôi để được tư vấn miễn phí</p>
                <h3>043XXXXXXX</h3>
                <small>* Các cuộc gọi được miễn phí</small>
            </div>
            <div class="column col-md-3">
                <div class="big-icon"><span class="fa fa-desktop"></span></div>
                <h3>Công cụ tính toán</h3>
                <p>Tính toán nhanh chóng để đưa ra lời khuyên</p>
            </div>
            <div class="column col-md-3 email">
                <div class="big-icon"><span class="fa fa-envelope"></span></div>
                <h3>Bản tin tư vấn tài chính</h3>
                <p>Hãy đăng ký ngay hôm nay !</p>
                <form class="subscribe-form">
                    <input class="form-control" type="text" placeholder="Nhập email của bạn">
                    <button type="submit" class="btn btn-success subscribe-button">Gửi cho tôi lời khuyên</button>
                    <div><small>Chúng tôi sẽ không chia sẻ dữ liệu hoặc gửi thư rác <strong>đến email của bạn</strong></small></div>
                    <div><a href=""><small>Chính sách bảo mật</small></a></div>
                </form>

            </div>
        </div>
    </div>

    </div>
</section>

</div>