<div class="l-sidebar">
	<div class="l-content">
		<div class="menu">
			<div class="heading name"><div>Project 1</div></div>
			<ul>
				<li>Sort By Date</li>
				<li>Sort By Name</li>
				<li>
					<span><i class="fa fa-search"></i></span>
					<input type="text" placeholder="Search ..."></input>
				</li>
			</ul>
		</div>
		<div class="menu">
			<div class="heading"><div>Tag name</div></div>
			<ul>
				<li>#tagname1</li>
				<li>#tagname1</li>
			</ul>
		</div>
	</div>
</div>

<div class="r-container taskpage">
	<div class="r-header">
		<button class="pure-button"><a href="/virtual_doctor/create_note">Create Note</a></button>
	</div>
	<div class="r-content mainpage">
		<table class="pure-table">
		    <thead class="title">
	        <tr>
	            <th class="namecol">Document</th>
	            <th class="leadcol">Member</th>
	            <th class="actcol">Actions</th>
	        </tr>
		    </thead>

		    <tbody>
	        <tr>
	            <td class="namecol">
	            	<a href="#">Basic template site</a>
	            	<br/>
	            	<span>Createdate: 01.01.2015</span>
	            </td>      
	            <td class="leadcol">Morgana</td>
	            <td class="actcol">
	            	<a href="/virtual_doctor/edit_note"><i class="fa fa-pencil"></i></a>
	            	<a href="#"><i class="fa fa-times"></i></a>
	            </td>
	        </tr>	
	        <tr>
	            <td class="namecol">
	            	<a href="/virtual_doctor/edit_note">Document for using PHP Laravel framwork</a>
	            	<br/>
	            	<span>Createdate: 01.01.2015</span>
	            </td>      
	            <td class="leadcol">
	            	<ul>
	            		<li>Member A</li>
	            	</ul>
	            </td>
	            <td class="actcol">
	            	<a href="#"><i class="fa fa-pencil"></i></a>
	            	<a href="#"><i class="fa fa-times"></i></a>
	            </td>
	        </tr>	        
		    </tbody>
		</table>
	</div>
</div>


