<div class="l-sidebar">
	<div class="l-content">
		<div class="menu">
			<div class="heading">Project 1</div>
			<ul>
				<li>Sort By Date</li>
				<li>Sort By Name</li>
				<li>
					<span><i class="fa fa-search"></i></span>
					<input type="text" placeholder="Search ..."></input>
				</li>
			</ul>
		</div>
		<div class="menu">
			<div class="heading">Tag name</div>
			<ul>
				<li>#tagname1</li>
				<li>#tagname1</li>
			</ul>
		</div>
	</div>
</div>

<div class="r-container taskpage">
	<div class="r-header">
		<button class="pure-button">Create Note</button>
	</div>
	<div class="r-content">
		<table class="pure-table">
		    <thead class="title">
	        <tr>
	            <th class="namecol">Document</th>
	            <th class="stacol">Create</th>
	            <th class="leadcol">Member</th>
	            <th class="actcol">Actions</th>
	        </tr>
		    </thead>

		    <tbody>
	        <tr>
	            <td class="namecol">
	            	<a href="#">abcdef</a>
	            	<br/>
	            	<span>Createdate: 01.01.2015</span>
	            </td>      
	            <td class="stacol">Active</td>
	            <td class="leadcol"></td>
	            <td class="actcol">
	            	<a href="#"><i class="fa fa-pencil"></i></a>
	            	<a href="#"><i class="fa fa-times"></i></a>
	            </td>
	        </tr>	
	        <tr>
	            <td class="namecol">
	            	<a href="#">abcdef</a>
	            	<br/>
	            	<span>Createdate: 01.01.2015</span>
	            </td>      
	            <td class="stacol">Active</td>
	            <td class="leadcol">
	            	<ul>
	            		<li>MrA</li>
	            	</ul>
	            </td>
	            <td class="actcol">
	            	<a href="#"><i class="fa fa-pencil"></i></a>
	            	<a href="#"><i class="fa fa-times"></i></a>
	            </td>
	        </tr>	        
		    </tbody>
		</table>
	</div>
</div>


