<div class="view-container">
	<div class="l-sidebar">
		<div class="l-content">
			<div class="menu">
				<div class="heading">Project 1</div>
				<ul>
					<li>Sort By Date</li>
					<li>Sort By Name</li>
					<li><input type="text" placeholder="Search..."></input></li>
				</ul>
			</div>
			<div class="menu">
				<div class="heading">Tag name</div>
				<ul>
					<li>#tagname1</li>
					<li>#tagname1</li>
				</ul>
			</div>
			<div class="menu">
				<div class="heading">Status</div>
				<ul>
					<li>New Project</li>
					<li>Active Project</li>
					<li>Finished Project</li>
					<li>Overdue Project</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="r-container">
		<div ng-include="'template/navigation.html'"></div>
		<div class="r-content">
			<div class="due-date"></div>
			<div class="activities">
				<ul>
				<!-- <li class="event" ng-repeat="activity in activities">
						<div class="date"><% activity.date %></div>
						<div class="task-container">
							<div class="taskbar" ng-repeat="task in tasks"><p><% activity.task %></p></div>
						</div>
					</li> -->
				<li class="event">
					<div class="date"></div>
					<div class="task-container">
						<div class="taskbar"><p></p></div>
					</div>
				</li>
				</ul>
			</div>
			<div class="start-date"></div>
		</div>
	</div>	
</div>
