<div class="animated fadeIn container projectlist">
    <div class="page-header">
        <h1 class="animated zoomIn">NORSU PROJECTS</h1>
        <h5 class="animated fadeInLeft">A collection of our work</h5>
    </div>

    <div class="page-content">
        <div class="category row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="crop-thumbnail">
                    <img src="img/project-img.jpg" alt="...">
                    </div>

                    <div class="overlay"></div>
                    <div class="project-button"><a href="projects/2013">Read more</a></div>
                    <div class="caption">
                        <h3>Road 2013</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="crop-thumbnail">
                    <img src="img/picture2.jpg" alt="...">
                    </div>

                    <div class="overlay"></div>
                    <div class="project-button"><a href="projects/2013">Read more</a></div>
                    <div class="caption">
                        <h3>Road 2014</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="crop-thumbnail">
                    <img src="img/picture1.jpg" alt="...">
                    </div>

                    <div class="overlay"></div>
                    <div class="project-button"><a href="projects/2013">Read more</a></div>
                    <div class="caption">
                        <h3>Road 2015</h3>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <div class="crop-thumbnail">
                    <img src="img/picture4.jpg" alt="...">
                    </div>

                    <div class="overlay"></div>
                    <div class="project-button"><a href="projects/2013">Read more</a></div>
                    <div class="caption">
                        <h3>Road 2016</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>