<div class="view-container">
	<div class="l-sidebar">
		<div class="l-content">
			<div class="filter">
				<div>Filter</div>
				<div><img src="#"></div>
				<div class="drop-down"></div>
			</div>

			<div class="tagname"></div>
			<div class="status"></div>
		</div>
	</div>

	<div class="r-container">
		<div class="r-content">
			<div class="title">
				<ul>
					<li></li>
					<li>Name</li>
					<li>Due Date</li>
					<li>Status</li>
					<li><a href="#">Leader</li>
				</ul>
			</div>

			<div class="project_list">
				<ul ng-repeat="project in projects">
					<li><% project.id %></li>
					<li><a href="project_name"><% project.name %></a></li>
					<li><a href="#"><% project.status %></a></li>
					<li><a href="#"><% project.leader %></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

