<div class="l-sidebar">
	<div class="l-content mainpage">
		<div class="menu">
			<div class="heading name">Virtual Doctor</div>
			<ul>
				<li>
					<span class="icon"><i class="fa fa-barcode"></i></span>
					<span class="text">MHK01</span>
				</li>
				<li>
					<span class="icon"><i class="fa fa-tags"></i></span>
					<span class="text">Active</span>
				</li>
				<li>
					<span class="icon"><i class="fa fa-user"></i></span>
					<span class="text">Mr.A</span>
				</li>
				<li>
					<span class="icon"><i class="fa fa-clock-o"></i></span>
					<span class="text">Create at 10.11.1014</span>
				</li>
			</ul>
			<div class="description">
				<div class="icon"><i class="fa fa-pencil-square-o"></i></div>
				<div class="text">A virtual doctor service where people can evaluate their symptoms with guidance and get further instruction.</div>
			</div>
		</div>
		<div class="menu">
			<div class="heading">Members list</div>
			<ul class="member">
				<li class="hover">
					<span><i class="fa fa-plus"></i></span>
					<input type="text" placeholder="Add new member ..."></input>
				</li>
				<li>
					<span class="text">Member </span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
				<li>
					<span class="text">Member 1</span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
				<li>
					<span class="text">Member 1</span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="r-container">
	<div class="r-content mainpage">
		<div class="duedate">10 Nov 2014</div>
		<div class="activity">
			<ul>
				<li class="caret"><i class="fa fa-caret-left"></i></li>
				<li class="event">
					<span>Member A finished navigation bar</span>
					<div class="time"><i class="fa fa-clock-o"></i>
					10 Oct 2014 at 5:00pm
					</div>
				</li>				
			</ul>
			<ul>
				<li class="caret"><i class="fa fa-caret-left"></i></li>
				<li class="event">
					<span>Member A added a note "PHP document"</span>
					<div class="time"><i class="fa fa-clock-o"></i>
					10 Oct 2014 at 5:00pm
					</div>
				</li>				
			</ul>
			<ul>
				<li class="caret"><i class="fa fa-caret-left"></i></li>
				<li class="event">
					<span>Member A was removed from prjoject</span>
					<div class="time"><i class="fa fa-clock-o"></i>
					10 Oct 2014 at 5:00pm
					</div>
				</li>				
			</ul>
			<ul>
				<li class="caret"><i class="fa fa-caret-left"></i></li>
				<li class="event">
					<span>Member B was added</span>
					<div class="time"><i class="fa fa-clock-o"></i>
					10 Oct 2014 at 5:00pm
					</div>
				</li>				
			</ul>
			<div class="space"></div>
		</div>
		<div class="startdate">Start</div>
	</div>
</div>	

