<div class="l-sidebar">
	<div class="l-content">
		<div class="menu">
			<div class="heading name"><div>Virtual Doctor</div></div>
			<ul>
				<li>#tagname1</li>
				<li>#tagname1</li>
			</ul>
		</div>

		<div class="menu">
			<div class="heading"><div>Status</div></div>
			<ul>
				<li>New Tasks</li>
				<li>Active Tasks</li>
				<li>Finished Tasks</li>
				<li>Overdue Tasks</li>
			</ul>
		</div>

		<div class="menu">
			<div class="heading"><div>Members list</div></div>
			<ul class="member">
				<li>
					<span><i class="fa fa-plus"></i></span>
					<input type="text" placeholder="Add new member ..."></input>
				</li>
				<li>
					<span class="text task">Ahri Riot </span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
				<li>
					<span class="text task">Kassadin Joes</span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
				<li>
					<span class="text task">Janna Ashe</span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="r-container taskpage">
<div class="r-content mainpage">
	<div class="create">
		<h4>Add new task to project, using #tagname for highlight element</h4>
		<form class="pure-form pure-g">
			<div class="pure-u-3-5"><input class="pure-input-1" type="text" placeholder="Add new task"></div>
			<div class="subcontent pure-u-7-24">
				<input class="pure-input-1-2" type="text" placeholder="Start date">
				<input class="pure-input-1-2" type="text" placeholder="Due date">
			</div>
			<button type="submit" class="task pure-button pure-button-primary pure-u-1-12" ng-click="save()">Save</button>
		</form>
	</div>

	<div class="tasklist">
		<div class="taskbar">
			<div class="taskname">
				<span class="text">Create template </span>
				<span class="icon">
					<i class="fa fa-pencil"></i></i>
					<i class="fa fa-times"></i></i>
				</span>
			</div>
			<div class="subinfo">
				<p>Startdate 01.02.2014 - Duedate 01.03.2014</p>
				<p id="member">Members - MrA - MrB</p>
			</div>
		</div>
		<div class="taskbar">
			<div class="taskname">
				<span class="text">Create template </span>
				<span class="icon">
					<i class="fa fa-pencil"></i></i>
					<i class="fa fa-times"></i></i>
				</span>
			</div>
			<div class="subinfo">
				<p>Startdate 01.02.2014 - Duedate 01.03.2014</p>
				<p>Members - MrA - MrB</p>
			</div>
		</div>
		<div class="taskbar">
			<div class="taskname">
				<span class="text">Create template </span>
				<span class="icon">
					<i class="fa fa-pencil"></i></i>
					<i class="fa fa-times"></i></i>
				</span>
			</div>
			<div class="subinfo">
				<p>Startdate 01.02.2014 - Duedate 01.03.2014</p>
				<p>Members - MrA - MrB</p>
			</div>
		</div>
	</ul>
	</div>
</div>
</div>


