<div class="l-sidebar">
	<div class="l-content">
		<div class="menu">
			<div class="heading name">Virtual Doctor</div>
			<ul>
				<li>#tagname1</li>
				<li>#tagname1</li>
			</ul>
		</div>
		<div class="menu">
			<div class="heading">Status</div>
			<ul>
				<li>New Tasks</li>
				<li>Active Tasks</li>
				<li>Finished Tasks</li>
				<li>Overdue Tasks</li>
			</ul>
		</div>
		<div class="menu">
			<div class="heading">Members list</div>
			<ul class="member">
				<li>
					<span><i class="fa fa-plus"></i></span>
					<input type="text" placeholder="Add new member ..."></input>
				</li>
				<li>
					<span class="text">Member </span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
				<li>
					<span class="text">Member 1</span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
				<li>
					<span class="text">Member 1</span>
					<span class="icon">
						<i class="fa fa-pencil"></i></i>
						<i class="fa fa-times"></i></i>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="r-container taskpage">
	<div class="r-content mainpage">
		<table class="pure-table">
		    <thead class="title">
	        <tr>
	            <th class="namecol">Manage Tasks</th>
	            <th class="stacol">Status</th>
	            <th class="leadcol">Members</th>
	            <th class="actcol">Actions</th>
	        </tr>
		    </thead>

		    <tbody>
	        <tr>
	            <td class="namecol">
	            	<a href="#">abcdef</a>
	            	<br/>
	            	<span>Startdate: 01.01.2015 - Duedate: 01.01.2015</span>
	            </td>      
	            <td class="stacol">Active</td>
	            <td class="leadcol"></td>
	            <td class="actcol">
	            	<a href="#"><i class="fa fa-pencil"></i></a>
	            	<a href="#"><i class="fa fa-times"></i></a>
	            </td>
	        </tr>	
	        <tr>
	            <td class="namecol">
	            	<a href="#">abcdef</a>
	            	<br/>
	            	<span>Startdate: 01.01.2015 - Duedate: 01.01.2015</span>
	            </td>      
	            <td class="stacol">Active</td>
	            <td class="leadcol">
	            	<ul>
	            		<li>MrA</li>
	            		<li>MrB</li>
	            		<li>MrC</li>
	            	</ul>
	            </td>
	            <td class="actcol">
	            	<a href="#"><i class="fa fa-pencil"></i></a>
	            	<a href="#"><i class="fa fa-times"></i></a>
	            </td>
	        </tr>	        
		    </tbody>
		</table>
	</div>
</div>


