<div class="view-container">
	<div class="l-content">
		<div class="menu">
			<div class="heading">Filter</div>
			<ul>
				<li>Sort By Date</li>
				<li>Sort By Name</li>
				<li><input type="text" placeholder="Search..."></input></li>
			</ul>
		</div>
		<div class="menu">
			<div class="heading">Tag name</div>
			<ul>
				<li>#tagname1</li>
				<li>#tagname1</li>
			</ul>
		</div>
		<div class="menu">
			<div class="heading">Status</div>
			<ul>
				<li>New Project</li>
				<li>Active Project</li>
				<li>Finished Project</li>
				<li>Overdue Project</li>
			</ul>
		</div>
	</div>

	<div class="r-container">
		<div ng-include="'template/navigation.html'"></div>

		<div class="r-header">
			<span>Manage Projects</span>
			<button class="pure-button">Create New</button>
		</div>
		
		<div class="r-content">
			<div class="create-task">
				<p>Add new task</p>
			</div>

			<div class="task_list">
				<ul ng-repeat="task in tasks">
				
				</ul>
			</div>
		</div>
	</div>	
</div>